<!--{% extends 'admin_base.html' %}-->
<!--{% load static %}-->
<!--{% block main %}-->


<!--<div class="container-fluid mt-5">-->
<!--    <div class="card shadow">-->
<!--        <div class="card-body">-->

<!--            <h4 class="text-center p-2" style="border-bottom: 2px solid orange;">-->
<!--               Between Dates Reports-->
<!--            </h4>-->

<!--            <form method="POST" enctype="multipart/form-data">-->
<!--                {% csrf_token %}-->

<!--                <div class="form-group mt-3">-->
<!--                    <label>From Date</label>-->
<!--                    <input type="date" name="fromdate" class="form-control" required>-->
<!--                </div>-->

<!--                <div class="col-sm-12">-->
<!--                    <div class="form-group">-->
<!--                        <label>To Date</label>-->
<!--                        <input type="date" name="todate" class="form-control" required>-->
<!--                    </div>-->
<!--                </div>-->





<!--                <div class="text-center mt-4">-->
<!--                    <button type="submit" class="btn btn-primary px-4">-->
<!--                        Add Service-->
<!--                    </button>-->
<!--                </div>-->

<!--            </form>-->

<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<!--{% endblock %}-->